# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Local development
*.log
.DS_Store

# Project specific
*.png
*.csv